@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@font-face {
  font-family: "Evermore";
  src: url("../fonts/Evermore.ttf") format("truetype");
  font-weight: 400;
}
html {
  font-size: 16px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #4c9540;
}
@media (max-width: 992px) {
  body.hidden {
    overflow: hidden;
  }
}

a,
button,
input,
textarea {
  font-family: "Comfortaa", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 56px;
  font-weight: 700;
  font-family: "Evermore", sans-serif;
  color: #ffffff;
  text-transform: lowercase;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2) -2px -2px 0px, rgba(0, 0, 0, 0.2) -2px 2px 0px, rgba(0, 0, 0, 0.2) 2px 2px 0px, rgba(0, 0, 0, 0.2) 2px -2px 0px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 46px;
    text-align: left;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 27px;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header {
  padding: 30px 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 992px) {
  .header {
    padding: 16px 0;
  }
}
@media (max-width: 992px) {
  .header.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(24, 29, 66, 0.5);
    z-index: 200;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.header__logo {
  flex: 0 0 auto;
}
.header__logo-link {
  display: flex;
  align-items: flex-end;
  gap: 2px;
}
.header__logo-link::before {
  content: "";
  height: 72px;
  width: 72px;
  background: url(../assets/pepe-head.webp) center no-repeat;
  background-size: 80px;
  transform: scale(-1, 1);
}
@media (max-width: 576px) {
  .header__logo-link::before {
    height: 56px;
    width: 56px;
    background-size: 64px;
  }
}
.header__logo-image {
  max-width: 120px;
}
@media (max-width: 576px) {
  .header__logo-image {
    max-width: 90px;
  }
}
@media (max-width: 992px) {
  .header.active .header__nav {
    transform: translateX(0);
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px 24px;
}
@media (max-width: 992px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    flex-direction: column;
    gap: 40px;
    max-width: 400px;
    width: 100%;
    padding: 64px 20px 40px;
    box-sizing: border-box;
    background-color: #4c9540;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateX(-800px);
    transition: transform ease-in-out 0.3s;
    will-change: transform;
  }
}
@media (max-width: 576px) {
  .header__nav {
    max-width: none;
  }
}
.header__nav-link {
  font-size: 12px;
  font-weight: 700;
  font-family: "Evermore", sans-serif;
  color: #ffffff;
  text-transform: lowercase;
}
@media (max-width: 992px) {
  .header__nav-link {
    font-size: 14px;
  }
}
.header__nav-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: none;
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  background: url(../assets/close.svg) center no-repeat;
  transition: all ease-in-out 0.16s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__nav-close {
    display: inline-block;
  }
}
.header__nav-close:active {
  transform: scale(0.96);
}
.header__buy {
  flex: 0 0 auto;
  display: block;
}
@media (max-width: 992px) {
  .header__buy {
    display: none;
  }
}
.header__buy-button {
  display: inline-block;
  padding: 16px 32px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700px;
  font-family: "Evermore", sans-serif;
  border: 2px solid #ffffff;
  border-radius: 48px;
  background-color: #4c9540;
  transition: all ease-in-out 0.16s;
  cursor: pointer;
}
.header__buy-button:hover {
  color: #4c9540;
  background-color: #ffffff;
}
.header__buy-button:active {
  transform: scale(0.96);
}
.header__burger {
  flex: 0 0 auto;
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
  }
}
.header__burger-button {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  background: url(../assets/burger.svg) center no-repeat;
  transition: all ease-in-out 0.16s;
  cursor: pointer;
}
.header__burger-button:active {
  transform: scale(0.96);
}

.main > section {
  padding: 60px 0;
}
@media (max-width: 992px) {
  .main > section {
    padding: 40px 0;
  }
}

.first-screen .container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.first-screen__info {
  flex: 1 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 992px) {
  .first-screen__info {
    flex: 1 1 100%;
    align-items: center;
  }
}
.first-screen__info-logo {
  margin: 0 0 24px;
}
.first-screen__info-logo-image {
  max-width: 200px;
  filter: drop-shadow(3px 3px 0 black);
}
.first-screen__info-text {
  margin: 0 0 40px;
  max-width: 510px;
  font-size: 28px;
  line-height: 150%;
}
@media (max-width: 992px) {
  .first-screen__info-text {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .first-screen__info-text {
    font-size: 20px;
  }
}
.first-screen__info-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 992px) {
  .first-screen__info-icons {
    justify-content: center;
  }
}
.first-screen__info-icons-item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-screen__info-icons-item img {
  display: block;
  max-width: 72px;
  width: 100px;
  height: auto;
}
.first-screen__pepe {
  flex: 0 1 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .first-screen__pepe {
    flex: 1 1 100%;
  }
}
@media (max-width: 992px) {
  .first-screen__pepe-image {
    width: 480px;
  }
}

.about .container {
  display: flex;
  gap: 24px;
}
@media (max-width: 992px) {
  .about .container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.about__figure {
  flex: 0 1 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .about__figure {
    flex: 0 1 auto;
  }
}
@media (max-width: 992px) {
  .about__figure-image {
    width: 480px;
  }
}
.about__info {
  flex: 1 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 34px;
}
@media (max-width: 992px) {
  .about__info {
    flex: 0 1 auto;
    gap: 24px;
  }
}
.about__info-title {
  margin: 0;
  text-align: center;
}
@media (max-width: 992px) {
  .about__info-title {
    text-align: left;
  }
}
.about__info-text {
  margin: 0;
  font-size: 24px;
  line-height: 150%;
}
.about__info-text span {
  word-break: break-all;
}
@media (max-width: 992px) {
  .about__info-text {
    font-size: 20px;
  }
}

.how-to-buy__title {
  margin: 0 0 40px;
}
@media (max-width: 992px) {
  .how-to-buy__title {
    margin: 0 0 24px;
  }
}
.how-to-buy__card {
  display: flex;
  gap: 32px 16px;
  margin: 0 0 24px;
  padding: 24px;
  padding-right: 48px;
  border: 2px solid #ffffff;
  border-radius: 0px 30px 0px 30px;
  background-color: #264A20;
}
@media (max-width: 992px) {
  .how-to-buy__card {
    flex-direction: column;
    margin: 0 0 14px;
    padding: 16px;
  }
}
.how-to-buy__card-figure {
  flex: 0 0 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .how-to-buy__card-figure {
    flex: 0 0 auto;
  }
}
.how-to-buy__card-figure-image {
  max-height: 138px;
  height: auto;
}
.how-to-buy__card-info-title {
  font-family: "Evermore", sans-serif;
  margin: 0 0 16px;
  font-size: 23px;
}
@media (max-width: 992px) {
  .how-to-buy__card-info-title {
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .how-to-buy__card-info-title {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .how-to-buy__card-info-title {
    font-size: 16px;
  }
}
.how-to-buy__card-info-text {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 992px) {
  .how-to-buy__card-info-text {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .how-to-buy__card-info-text {
    font-size: 16px;
  }
}
.how-to-buy__bull {
  display: flex;
  justify-content: center;
}
.how-to-buy__bull-image {
  width: 480px;
}

.tokenomics .container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 24px;
}
@media (max-width: 992px) {
  .tokenomics .container {
    gap: 24px;
  }
}
.tokenomics__title {
  flex: 1 1 100%;
  margin: 0;
}
@media (max-width: 992px) {
  .tokenomics__title {
    text-align: center;
  }
}
.tokenomics__info {
  flex: 1 0 40%;
}
.tokenomics__info-title {
  margin: 0 0 50px;
  font-family: "Evermore", sans-serif;
  font-size: 25px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2) -2px -2px 0px, rgba(0, 0, 0, 0.2) -2px 2px 0px, rgba(0, 0, 0, 0.2) 2px 2px 0px, rgba(0, 0, 0, 0.2) 2px -2px 0px;
}
@media (max-width: 992px) {
  .tokenomics__info-title {
    margin: 0 0 16px;
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .tokenomics__info-title {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .tokenomics__info-title {
    font-size: 14px;
  }
}
.tokenomics__info-advantages {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
  border: 2px solid #ffffff;
  border-radius: 0px 30px 0px 30px;
  background-color: #264A20;
}
@media (max-width: 992px) {
  .tokenomics__info-advantages {
    gap: 16px;
  }
}
.tokenomics__info-advantages-item {
  margin: 0;
  font-size: 22px;
}
@media (max-width: 992px) {
  .tokenomics__info-advantages-item {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .tokenomics__info-advantages-item {
    font-size: 16px;
  }
}
.tokenomics__figure {
  flex: 0 1 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .tokenomics__figure {
    flex: 1 1 auto;
  }
}
@media (max-width: 992px) {
  .tokenomics__figure-image {
    width: 480px;
  }
}